
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Registro</h2>

<div class="container ancho-panel">
    <div class="panel panel-default centrar-panel">        
        <div class="panel-body inicio-sesion">
            <form method="post" action="@Url.Action("Registrarse", "Login")">
                <div class="box-input">
                    <label for="nombre"><b>Nombre</b></label>
                    <input class="form-control" type="text" placeholder="Ingrese su nombre" name="nombre" maxlength="50" required>
                </div>

                <div class="box-input">
                    <label for="apellido"><b>Apellido</b></label>
                    <input class="form-control" type="text" placeholder="Ingrese su apellido" name="apellido" maxlength="50" required>
                </div>

                <div class="box-input">
                    <label for="mail"><b>Correo</b></label>
                    <input class="form-control" type="text" placeholder="Ingrese su correo" name="correo" maxlength="200" required>
                </div>

                <div class="box-input">
                    <label for="password"><b>Clave</b></label>
                    <input class="form-control" type="password" placeholder="Ingrese su clave" name="password" required>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
            </form>
           
        </div>
    </div>
</div>


